@model ITL_MakeId.Model.DomainModel.Designation

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-6 mr-auto ml-auto p-0 mt-3 mb-5">

    <h3 class="formbar mb-0">Edit Department</h3>
    <div class="col-md-12 form-bg">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

