@model IEnumerable<ITL_MakeId.Model.DomainModel.Designation>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/datatable.css" rel="stylesheet" />

<div class="col-md-8 m-auto">
    <h1 class="text-center">Designation</h1>

    <div class="col-md-12 m-auto">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table id="cardTable" class="table table-striped table-bordered" style="width: 100%">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square" aria-hidden="true"></i></a> |
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this?')"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>



@section Scripts{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#cardTable').dataTable({

            });
        });
    </script>
}