
@{
    ViewData["Title"] = "CardRegistrationMenu";
}

<h1>CardRegistrationMenu</h1>



<a class="dropdown-item" asp-area="" asp-controller="Cards" asp-action="Create">Card Registration (Single Entry)</a>
<a class="dropdown-item" asp-area="" asp-controller="Cards" asp-action="Excel">Card Registration (Bulk Entry)</a>